//------- Animations ----------//
@import "../layout/_keyframes";


.menu__texte {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 1rem;
  cursor: pointer;
  @include ombre-primaire;
  margin: 0.7rem 0;
  flex: 1 0 33%;
  overflow: hidden;
  @include mobile {
  flex:100%;
  margin-bottom:0;
  }
  @include tablette {
  flex:100%;
  }
  @include bureau {
    flex: 25%;
    margin:0 1rem;
    }
  @include portable {
    flex: 20%;
    margin: 0 1rem;
    }

  &:hover {
    @include ombre-secondaire;
  }

  .prix__fiche {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7rem;
    font-weight: bold;
    margin-top: 1.35rem;
    padding-right: 1rem;
    text-align: right;
    @include bureau {
    font-size: 1.1rem;
    margin-top: 1.9rem;
    padding-right: 1.5rem;
    }
  }
  .controle {
    display: none;
    width: 30%;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  .bouton-plat {
    font-size: 1.5rem;
    color: white;
    transform: rotate(360deg);
  }
}

.menu__texte:hover .prix__fiche {
  animation: animation-prix ease 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  min-width: 3rem;
}

.menu__texte:hover .controle {
  display: block;
  flex: 0 0 15%;
  background: $couleur-tertiaire;
  max-width: 3rem;
  overflow: hidden;
  animation: animation-controle ease 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  }

.menu__texte:hover .bouton-plat {
  position: absolute;
  left: 27%;
  top: 30%;
  background: $couleur-tertiaire;
  animation: validation ease .3s 2; 
  }

// boucle pour obtenir 5 différents effets lié au temps d'animation (1s)// 
@for $i from 1 through 5 {
  .effet-#{$i} {
    animation: fondu 1s * $i;
  }
}

// module animation chargement de la page accueil (load spinner)//
.toupie {
  animation: animation-toupie 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  background: $animation-couleur-fond;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  z-index: 100;
  &::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

%activite-avant {
  display: inline-block;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: 1rem;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: $couleur-secondaire;
  }
%activite-apres {
  display: inline-block;
  position: absolute;
  bottom: 0.4rem;
  left: 0.4rem;
  right: 0.4rem;
  top: 0.4rem;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: $couleur-secondaire;
}

.chargement {
  display:inline-block;
  vertical-align: middle;
  width: 6.5rem;
  left: 55%;
  border:solid 2vmin transparent;
  border-radius:50%;
  overflow: hidden;
  padding: 0.7rem;
  border-right-color:$couleur-primaire;
  border-top-color:$couleur-primaire;
  animation:spin 1s infinite linear;
  animation-fill-mode:both;
  box-sizing:border-box;
  height:20vmin;
  left:calc(50% - 10vmin);
  position:fixed;
  top:calc(50% - 10vmin);
  width:20vmin;
  z-index:100;
  @include bureau {
  left: 50%;
  top:57%;
  margin-left: -6em;
  }
  &::before {
    animation:animation-rotation 2s infinite linear;
    border:solid 1vmin transparent;
    border-radius:50%;
    border-right-color:$couleur-secondaire;
    border-top-color:$couleur-secondaire;
    box-sizing:border-box;
    content:"";
    height:16vmin;
    left:0;
    position:absolute;
    top:0;
    width:16vmin;
    @extend %activite-avant;
    animation: animation-chargement 2s infinite;
    }
  &::after {
    animation:animation-rotation 2s infinite linear;
    border:solid 1vmin transparent;
    border-radius:50%;
    border-right-color:$couleur-tertiaire;
    border-top-color:$couleur-tertiaire;
    box-sizing:border-box;
    content:"";
    height:12vmin;
    left:2vmin;
    position:absolute;
    top:2vmin;
    width:12vmin;
    @extend %activite-apres;
    animation: animation-chargement 2s infinite;
    }

}









