/*-------- Pied de page ----*/
footer a {
  display:flex;
  justify-content: flex-start;
  text-decoration: none;
  color: white;
  margin-bottom:0.5rem;
  margin-left:1%;
  font-size:1.1rem;
  @include mobile {
  margin-left:1rem;
  font-size:0.9em;
  }
}

.footer {
  background: black;
  opacity:0.8;
  padding-bottom:0.5rem;
    &__logo {
    filter: invert(100%);
    padding:1.5rem 0;
    max-width: 100%;
    margin-left:2%;
    @include mobile {
    max-width: 30%;
    transform:scale(0.75);
    margin-left:1rem;
    }
    @include tablette {
    max-width: 30%;
    transform:scale(0.85);
    margin-left:1rem;
    }
 }

.footer-icones {
  margin: 0.2em 1em 0 1.2em;
  }
}