/*-------- Pied de page ----*/
footer a {
  text-decoration: none;
  color: white;
}

.footer {
  background: #333;
  padding: 20px;
   text-align: center;
  color: white;
  @include mobile {
  text-align: left;
  }

  &__logo {
    filter: invert(1);
    max-width: 150px;
    @include tablette {
      max-width: none;
    }
  }
  &__lien {
    text-align: left;
    @include tablette {
      text-align: center;
    }
  }
}

.footer-icones {
  margin-right: 15px;
}
