/*-------- Pied de page ----*/
footer a {
  text-decoration: none;
  color: white;
  
}

.footer {
  background: #333;
  padding: 20px;
  text-align: center;
  color: white;
  @include mobile {
  text-align: left;
  }

  &__logo {
    max-width:auto;
    filter: invert(100%);
    @include mobile {
    filter: invert(100%);
    max-width: 8rem;
    transform:scale(0.75);
    margin-left:-1rem;

    }
  }
  &__lien {
    text-align: center;
    @include mobile {
      text-align: left;
      margin:auto;
          }
  }
}

.footer-icones {
  margin-right: 15px;
}
