/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
/* Reset */
html,
body,
p,
ul,
li,
figure,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  height: auto;
  max-width: 100%;
}

@keyframes validation {
  0% {
    transform: rotate(-90deg);
  }
  20% {
    transform: rotate(-75deg) scale(1.03);
  }
  40% {
    transform: rotate(-60deg) scale(1.08);
  }
  60% {
    transform: rotate(-45deg) scale(1.15);
  }
  80% {
    transform: rotate(-30deg) scale(1.08);
  }
  100% {
    transform: rotate(5deg) scale(1);
  }
}
@keyframes animation-controle {
  0% {
    transform: translate(50px, 0);
  }
  20% {
    transform: translate(30px, 0);
  }
  40% {
    transform: translate(20px, 0);
  }
  60% {
    transform: translate(15px, 0);
  }
  80% {
    transform: translate(7px, 0);
  }
  100% {
    transform: translate(1px, 0);
  }
}
@keyframes animation-prix {
  0% {
    transform: translate(50px, 0);
  }
  40% {
    transform: translate(25px, 0);
  }
  70% {
    transform: translate(12px, 0);
  }
  100% {
    transform: translate(1px, 0);
  }
}
@keyframes fondu {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes animation-toupie {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes animation-chargement {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes activite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animation-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*------- Animations ----------*/
@keyframes validation {
  0% {
    transform: rotate(-90deg);
  }
  20% {
    transform: rotate(-75deg) scale(1.03);
  }
  40% {
    transform: rotate(-60deg) scale(1.08);
  }
  60% {
    transform: rotate(-45deg) scale(1.15);
  }
  80% {
    transform: rotate(-30deg) scale(1.08);
  }
  100% {
    transform: rotate(5deg) scale(1);
  }
}
@keyframes animation-controle {
  0% {
    transform: translate(50px, 0);
  }
  20% {
    transform: translate(30px, 0);
  }
  40% {
    transform: translate(20px, 0);
  }
  60% {
    transform: translate(15px, 0);
  }
  80% {
    transform: translate(7px, 0);
  }
  100% {
    transform: translate(1px, 0);
  }
}
@keyframes animation-prix {
  0% {
    transform: translate(50px, 0);
  }
  40% {
    transform: translate(25px, 0);
  }
  70% {
    transform: translate(12px, 0);
  }
  100% {
    transform: translate(1px, 0);
  }
}
@keyframes fondu {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes animation-toupie {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes animation-chargement {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes activite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animation-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu__texte {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 1.25rem;
  cursor: pointer;
  box-shadow: 0 5px 15px 0 #c3c3c3;
  margin: 0.7rem 0;
  flex: 1 0 33%;
  overflow: hidden;
}
@media all and (min-width: 1024px) and (max-width: 3840px) {
  .menu__texte {
    flex: 25%;
    margin-left: 1rem;
  }
}
.menu__texte:hover {
  box-shadow: 0 5px 15px 0 #9d9d9d;
}
.menu__texte .prix__fiche {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1.2rem;
  padding-right: 0.7rem;
  text-align: right;
}
.menu__texte .controle {
  display: none;
  width: 30%;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}
.menu__texte .bouton-plat {
  font-size: 1.5rem;
  color: white;
  transform: rotate(360deg);
}

.menu__texte:hover .prix__fiche {
  animation: animation-prix ease 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  min-width: 3rem;
}

.menu__texte:hover .controle {
  display: block;
  flex: 0 0 15%;
  background: #99e2d0;
  max-width: 3rem;
  overflow: hidden;
  animation: animation-controle ease 0.3s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}

.menu__texte:hover .bouton-plat {
  position: absolute;
  left: 27%;
  top: 30%;
  background: #99e2d0;
  animation: validation ease 0.5s 1;
}

.effet-1 {
  animation: fondu 0.5s;
}

.effet-2 {
  animation: fondu 1s;
}

.effet-3 {
  animation: fondu 1.5s;
}

.effet-4 {
  animation: fondu 2s;
}

.effet-5 {
  animation: fondu 2.5s;
}

.effet-6 {
  animation: fondu 3s;
}

.effet-7 {
  animation: fondu 3.5s;
}

.effet-8 {
  animation: fondu 4s;
}

.effet-9 {
  animation: fondu 4.5s;
}

.effet-10 {
  animation: fondu 5s;
}

.toupie {
  animation: animation-toupie 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  background: rgba(10, 10, 10, 0.6);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  z-index: 100;
}
.toupie::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.chargement::before {
  display: inline-block;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: 1rem;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #ff79da;
}

.chargement::after {
  display: inline-block;
  position: absolute;
  bottom: 0.4rem;
  left: 0.4rem;
  right: 0.4rem;
  top: 0.4rem;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #ff79da;
}

.chargement {
  display: inline-block;
  vertical-align: middle;
  width: 6.5rem;
  left: 55%;
  border: solid 2vmin transparent;
  border-radius: 50%;
  overflow: hidden;
  padding: 0.7rem;
  border-right-color: #9356dc;
  border-top-color: #9356dc;
  animation: spin 1s infinite linear;
  animation-fill-mode: both;
  box-sizing: border-box;
  height: 20vmin;
  left: calc(50% - 10vmin);
  position: fixed;
  top: calc(50% - 10vmin);
  width: 20vmin;
  z-index: 100;
}
@media all and (min-width: 1024px) and (max-width: 3840px) {
  .chargement {
    left: 50%;
    top: 57%;
    margin-left: -6em;
  }
}
.chargement::before {
  animation: animation-rotation 2s infinite linear;
  border: solid 1vmin transparent;
  border-radius: 50%;
  border-right-color: #ff79da;
  border-top-color: #ff79da;
  box-sizing: border-box;
  content: "";
  height: 16vmin;
  left: 0;
  position: absolute;
  top: 0;
  width: 16vmin;
  animation: animation-chargement 2s infinite;
}
.chargement::after {
  animation: animation-rotation 2s infinite linear;
  border: solid 1vmin transparent;
  border-radius: 50%;
  border-right-color: #99e2d0;
  border-top-color: #99e2d0;
  box-sizing: border-box;
  content: "";
  height: 12vmin;
  left: 2vmin;
  position: absolute;
  top: 2vmin;
  width: 12vmin;
  animation: animation-chargement 2s infinite;
}

.reserver__bouton-explorer {
  display: inline-block;
  background: linear-gradient(#ff79da, #9356dc);
  text-decoration: none;
  cursor: pointer;
  border: 0;
  text-align: center;
  border-radius: 1.55rem;
  font-size: 0.9rem;
  color: white;
  box-shadow: 0 5px 15px 0 #c3c3c3;
  font-weight: 600;
  padding: 0.7rem 1.4rem;
  margin: 2.2rem 0 1.2rem 0;
  transition: 0.2s;
}
.reserver__bouton-explorer:hover {
  background: linear-gradient(#f77dd4, #ab65fa);
  transition: 0s linear 0.05s;
  box-shadow: 0 5px 15px 0 #c3c3c3;
}
@media all and (min-width: 1024px) and (max-width: 3840px) {
  .reserver__bouton-explorer {
    margin-top: 1rem;
  }
}

/*------ animation coeur -----------------*/
.coeur .defaut-icones:hover, .coeur:hover, .coeur .survol-icones:hover {
  transition: 2s 0.2s ease;
}

.coeur {
  position: relative;
  margin-left: auto;
  margin-top: 0.25rem;
}
.coeur i {
  color: #738276;
  font-size: 1.3rem;
  left: 50%;
}
.coeur .survol-icones {
  left: 0;
  opacity: 0;
  position: absolute;
}
.coeur .survol-icones:hover {
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 1;
  z-index: 100;
  transition: 0s linear 0.05s;
}
.coeur:hover {
  cursor: pointer;
  overflow: hidden;
  opacity: 1;
  transition: 0s linear 0.05s;
}
.coeur .defaut-icones:hover {
  opacity: 0;
  transition: 0s linear 0.05s;
}

/*------------ bouton de commande ---------------*/
.bouton-commande {
  margin-top: 2rem;
  width: 50%;
  height: 75%;
}
@media all and (min-width: 760px) and (max-width: 959.98px) {
  .bouton-commande {
    width: 20%;
    margin-bottom: -1rem;
  }
}
@media all and (min-width: 1024px) and (max-width: 3840px) {
  .bouton-commande {
    width: 15%;
    margin-bottom: -1rem;
  }
}
@media all and (min-width: 960px) {
  .bouton-commande {
    width: 15%;
    margin-bottom: -1rem;
  }
}

/*----- header de la Page accueil ---------*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9e9e9;
}
@media all and (min-width: 1024px) and (max-width: 3840px) {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    margin-right: 3rem;
  }
}
.header__logo {
  background: white;
  width: 160%;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid #f4f4f4;
  padding-top: 1.1rem;
}
@media all and (min-width: 1024px) and (max-width: 3840px) {
  .header__logo {
    text-align: left;
    margin-left: 3rem;
    box-shadow: none;
    border: none;
  }
}
.header__logo img {
  max-width: 100%;
  height: 1.45rem;
}
@media all and (min-width: 1024px) and (max-width: 3840px) {
  .header__logo img {
    height: 2.5rem;
  }
}

.rechercher__quartier {
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 12.5rem;
}
@media all and (min-width: 1024px) and (max-width: 3840px) {
  .rechercher__quartier {
    background: linear-gradient(#ff79da, #9356dc);
    padding: 1px;
    width: 50%;
    border-radius: 1.55rem;
    margin: 1rem 2rem;
  }
}
.rechercher__quartier .rechercher__pictogramme {
  margin-left: 1rem;
  padding: 0.65rem;
}
@media all and (min-width: 1024px) and (max-width: 3840px) {
  .rechercher__quartier .rechercher__pictogramme {
    color: white;
    margin-left: -0.1rem;
  }
}
.rechercher__quartier .saisie {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
}
.rechercher__quartier .saisie-champs {
  background-color: transparent;
  border: 0;
  padding: 0.7rem;
  width: 100%;
}
@media all and (min-width: 1024px) and (max-width: 3840px) {
  .rechercher__quartier .saisie-champs {
    color: black;
    padding: 0.35rem 0.7rem;
  }
}
.rechercher__quartier .saisie-champs:focus {
  outline: none;
}
@media all and (min-width: 1024px) and (max-width: 3840px) {
  .rechercher__quartier .saisie-champs::placeholder {
    color: white;
  }
}

/*----- Page d'accueil / index.html -----*/
.main {
  display: flex;
  flex-flow: column nowrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 105rem;
}

.reserver__bloc-titres h2, .reserver__bloc-titres h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}

.reserver {
  flex: 100%;
  text-align: center;
  padding: 2.5rem 2.5rem;
  letter-spacing: 0.03rem;
  background-color: #f2f2f2;
}
.reserver__bloc-titres {
  margin-bottom: 8rem;
}
.reserver__bloc-titres h1 {
  margin-bottom: 1rem;
}
.reserver__bloc-titres h2 {
  font-size: 1rem;
  font-weight: 300;
  color: #888;
}

article a {
  text-decoration: none;
}

.resto {
  background-color: #f4f4f4;
  padding: 1.25rem 0;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
  padding: 1rem;
  height: 100%;
}
.resto__fiche {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  min-width: 20%;
  background: white;
  box-shadow: 2px 2px 10px 2px #e9e9e9;
  border-radius: 1rem;
}
@media all and (min-width: 960px) {
  .resto__fiche {
    width: 13.5rem;
    height: 100%;
  }
}
@media all and (min-width: 760px) and (max-width: 959.98px) {
  .resto__fiche {
    width: auto;
    height: 100%;
  }
}
.resto__mode {
  padding: 1rem 0 1rem 1rem;
  width: 100%;
  text-align: center;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}
@media all and (max-width: 759.98px) {
  .resto__mode {
    font-size: 1.2rem;
    letter-spacing: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: black;
    text-align: left;
    margin-top: 0.5rem;
    margin-bottom: -0.8rem;
  }
}
.resto__image__header {
  position: relative;
  max-height: 12.5rem;
}
.resto__image__header img {
  object-fit: cover;
  width: 100%;
  max-height: 12.5rem;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.nouveau {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  background: #99e2d0;
  color: #2c9c81;
  padding: 0.2rem 0.7rem;
  font-weight: bold;
  z-index: 100;
}

.resto__detail {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.7rem;
  width: 100%;
  margin-top: 0.7rem;
}
.resto__detail h3 {
  font-weight: bolder;
  font-size: 1.2rem;
  margin-left: 0;
}
.resto__detail h4 {
  font-weight: lighter;
  font-size: 1.1rem;
  margin-left: 0;
}

.libelle-resto {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
}

.libelle-lieu {
  text-decoration: none;
  color: black;
  font-weight: 300;
  opacity: 0.7;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

/*-------- Navigation ----------*/
.nav {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 25px 5px;
}
.nav__mode {
  font-size: 1.35rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0.9rem;
}
@media all and (max-width: 759.98px) {
  .nav__mode {
    text-align: left;
  }
}
@media all and (min-width: 760px) and (max-width: 959.98px) {
  .nav__mode {
    font-size: 1.4rem;
    text-align: center;
  }
}
@media all and (min-width: 1024px) and (max-width: 3840px) {
  .nav__mode {
    font-size: 1.5rem;
    text-align: center;
    margin-left: 2rem;
  }
}
@media all and (min-width: 960px) {
  .nav__mode {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
  }
}
.nav__options {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: auto;
}
@media all and (max-width: 759.98px) {
  .nav__options {
    display: flex;
    flex-direction: column;
    margin: 0.8rem 0;
    text-align: center;
  }
}
.nav__bouton {
  flex: 1 0 auto;
  margin-bottom: 1rem;
  text-decoration: none;
  background: #f2f2f2;
  border-radius: 15px;
  text-align: justify;
  margin-left: 0;
  margin-bottom: 1.8rem;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: bold;
  padding: 1.5rem 1rem;
  box-shadow: 0 5px 15px 0 #c3c3c3;
}
.nav__bouton:hover {
  background: #f2eafb;
  box-shadow: 2px 2px 10px 2px #e4d5f6;
}
.nav__bouton:hover .nav__icones {
  color: #9356dc;
}
@media all and (min-width: 1024px) and (max-width: 3840px) {
  .nav__bouton {
    margin: 3.5rem;
  }
}
@media all and (min-width: 960px) {
  .nav__bouton {
    margin: 1rem;
  }
}
@media all and (min-width: 760px) and (max-width: 959.98px) {
  .nav__bouton {
    margin: 1.5rem;
  }
}
.nav__pastilles {
  background: #9356dc;
  border-radius: 100%;
  color: white;
  height: 20px;
  width: 20px;
  line-height: 1.6;
  padding: 2px 7px;
  font-weight: 600;
  display: block;
  position: relative;
  line-height: 1.2;
  left: -1rem;
  height: 1.1rem;
  width: 1.1rem;
  margin: -0.8rem 0 0 -0.5rem;
}
@media all and (max-width: 759.98px) {
  .nav__pastilles {
    position: absolute;
    left: 1.2rem;
    margin-top: -4px;
  }
}
.nav__icones {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: grey;
  margin: -0.2rem 1rem;
  position: absolute;
  font-size: 16px;
}
@media all and (min-width: 760px) and (max-width: 959.98px) {
  .nav__icones {
    margin: -1rem 0 0 0.25rem;
  }
}
@media all and (min-width: 1024px) and (max-width: 3840px) {
  .nav__icones {
    margin: -1.1rem 0 0 0.75rem;
  }
}
@media all and (min-width: 960px) {
  .nav__icones {
    margin: -1.1rem 0 0 0.55rem;
  }
}
.nav__texte {
  display: block;
  text-align: center;
  margin: -1.3rem 0;
  font-size: 1.15rem;
}
@media all and (max-width: 759.98px) {
  .nav__texte {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 3rem;
    margin-top: -0.2rem;
    font-size: 0.8rem;
  }
}
@media all and (min-width: 760px) and (max-width: 959.98px) {
  .nav__texte {
    font-size: 0.9rem;
    margin-left: 2rem;
    margin-top: -1rem;
  }
}
@media all and (min-width: 1024px) and (max-width: 3840px) {
  .nav__texte {
    font-size: 1.25rem;
    margin-top: -1.5rem;
  }
}

/*--------- Pages Restaurants --------*/
.reserver__bouton-explorer {
  display: inline-block;
  background: linear-gradient(#ff79da, #9356dc);
  text-decoration: none;
  cursor: pointer;
  border: 0;
  text-align: center;
  border-radius: 1.55rem;
  font-size: 0.9rem;
  color: white;
  box-shadow: 0 5px 15px 0 #c3c3c3;
  font-weight: 600;
  padding: 0.7rem 1.4rem;
  margin: 2.2rem 0 1.2rem 0;
  transition: 0.2s;
}
.reserver__bouton-explorer:hover {
  background: linear-gradient(#f77dd4, #ab65fa);
  transition: 0s linear 0.05s;
  box-shadow: 0 5px 15px 0 #c3c3c3;
}
@media all and (min-width: 1024px) and (max-width: 3840px) {
  .reserver__bouton-explorer {
    margin-top: 1rem;
  }
}

/*------ animation coeur -----------------*/
.coeur .survol-icones:hover, .coeur:hover, .coeur .defaut-icones:hover {
  transition: 2s 0.2s ease;
}

.coeur {
  position: relative;
  margin-left: auto;
  margin-top: 0.25rem;
}
.coeur i {
  color: #738276;
  font-size: 1.3rem;
  left: 50%;
}
.coeur .survol-icones {
  left: 0;
  opacity: 0;
  position: absolute;
}
.coeur .survol-icones:hover {
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 1;
  z-index: 100;
  transition: 0s linear 0.05s;
}
.coeur:hover {
  cursor: pointer;
  overflow: hidden;
  opacity: 1;
  transition: 0s linear 0.05s;
}
.coeur .defaut-icones:hover {
  opacity: 0;
  transition: 0s linear 0.05s;
}

/*------------ bouton de commande ---------------*/
.bouton-commande {
  margin-top: 2rem;
  width: 50%;
  height: 75%;
}
@media all and (min-width: 760px) and (max-width: 959.98px) {
  .bouton-commande {
    width: 20%;
    margin-bottom: -1rem;
  }
}
@media all and (min-width: 1024px) and (max-width: 3840px) {
  .bouton-commande {
    width: 15%;
    margin-bottom: -1rem;
  }
}
@media all and (min-width: 960px) {
  .bouton-commande {
    width: 15%;
    margin-bottom: -1rem;
  }
}

/*------- Animations ----------*/
@keyframes validation {
  0% {
    transform: rotate(-90deg);
  }
  20% {
    transform: rotate(-75deg) scale(1.03);
  }
  40% {
    transform: rotate(-60deg) scale(1.08);
  }
  60% {
    transform: rotate(-45deg) scale(1.15);
  }
  80% {
    transform: rotate(-30deg) scale(1.08);
  }
  100% {
    transform: rotate(5deg) scale(1);
  }
}
@keyframes animation-controle {
  0% {
    transform: translate(50px, 0);
  }
  20% {
    transform: translate(30px, 0);
  }
  40% {
    transform: translate(20px, 0);
  }
  60% {
    transform: translate(15px, 0);
  }
  80% {
    transform: translate(7px, 0);
  }
  100% {
    transform: translate(1px, 0);
  }
}
@keyframes animation-prix {
  0% {
    transform: translate(50px, 0);
  }
  40% {
    transform: translate(25px, 0);
  }
  70% {
    transform: translate(12px, 0);
  }
  100% {
    transform: translate(1px, 0);
  }
}
@keyframes fondu {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes animation-toupie {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes animation-chargement {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes activite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animation-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu__texte {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 1.25rem;
  cursor: pointer;
  box-shadow: 0 5px 15px 0 #c3c3c3;
  margin: 0.7rem 0;
  flex: 1 0 33%;
  overflow: hidden;
}
@media all and (min-width: 1024px) and (max-width: 3840px) {
  .menu__texte {
    flex: 25%;
    margin-left: 1rem;
  }
}
.menu__texte:hover {
  box-shadow: 0 5px 15px 0 #9d9d9d;
}
.menu__texte .prix__fiche {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1.2rem;
  padding-right: 0.7rem;
  text-align: right;
}
.menu__texte .controle {
  display: none;
  width: 30%;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}
.menu__texte .bouton-plat {
  font-size: 1.5rem;
  color: white;
  transform: rotate(360deg);
}

.menu__texte:hover .prix__fiche {
  animation: animation-prix ease 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  min-width: 3rem;
}

.menu__texte:hover .controle {
  display: block;
  flex: 0 0 15%;
  background: #99e2d0;
  max-width: 3rem;
  overflow: hidden;
  animation: animation-controle ease 0.3s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}

.menu__texte:hover .bouton-plat {
  position: absolute;
  left: 27%;
  top: 30%;
  background: #99e2d0;
  animation: validation ease 0.5s 1;
}

.effet-1 {
  animation: fondu 0.5s;
}

.effet-2 {
  animation: fondu 1s;
}

.effet-3 {
  animation: fondu 1.5s;
}

.effet-4 {
  animation: fondu 2s;
}

.effet-5 {
  animation: fondu 2.5s;
}

.effet-6 {
  animation: fondu 3s;
}

.effet-7 {
  animation: fondu 3.5s;
}

.effet-8 {
  animation: fondu 4s;
}

.effet-9 {
  animation: fondu 4.5s;
}

.effet-10 {
  animation: fondu 5s;
}

.toupie {
  animation: animation-toupie 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  background: rgba(10, 10, 10, 0.6);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  z-index: 100;
}
.toupie::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.chargement::before {
  display: inline-block;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: 1rem;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #ff79da;
}

.chargement::after {
  display: inline-block;
  position: absolute;
  bottom: 0.4rem;
  left: 0.4rem;
  right: 0.4rem;
  top: 0.4rem;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #ff79da;
}

.chargement {
  display: inline-block;
  vertical-align: middle;
  width: 6.5rem;
  left: 55%;
  border: solid 2vmin transparent;
  border-radius: 50%;
  overflow: hidden;
  padding: 0.7rem;
  border-right-color: #9356dc;
  border-top-color: #9356dc;
  animation: spin 1s infinite linear;
  animation-fill-mode: both;
  box-sizing: border-box;
  height: 20vmin;
  left: calc(50% - 10vmin);
  position: fixed;
  top: calc(50% - 10vmin);
  width: 20vmin;
  z-index: 100;
}
@media all and (min-width: 1024px) and (max-width: 3840px) {
  .chargement {
    left: 50%;
    top: 57%;
    margin-left: -6em;
  }
}
.chargement::before {
  animation: animation-rotation 2s infinite linear;
  border: solid 1vmin transparent;
  border-radius: 50%;
  border-right-color: #ff79da;
  border-top-color: #ff79da;
  box-sizing: border-box;
  content: "";
  height: 16vmin;
  left: 0;
  position: absolute;
  top: 0;
  width: 16vmin;
  animation: animation-chargement 2s infinite;
}
.chargement::after {
  animation: animation-rotation 2s infinite linear;
  border: solid 1vmin transparent;
  border-radius: 50%;
  border-right-color: #99e2d0;
  border-top-color: #99e2d0;
  box-sizing: border-box;
  content: "";
  height: 12vmin;
  left: 2vmin;
  position: absolute;
  top: 2vmin;
  width: 12vmin;
  animation: animation-chargement 2s infinite;
}

body {
  background-color: white;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 0;
  text-align: left;
  overflow-x: hidden;
}

h1 {
  display: block;
  margin: -0.5rem 0 0.5rem 2.5rem;
  font-weight: bold;
  margin-left: auto;
  font-size: 1.4rem;
  width: auto;
}
@media all and (max-width: 759.98px) {
  h1 {
    margin-left: 6%;
    width: 80%;
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}
@media all and (min-width: 1024px) and (max-width: 3840px) {
  h1 {
    font-size: 1.6rem;
  }
}

h2 {
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  opacity: 0.6;
}
@media all and (max-width: 759.98px) {
  h2 {
    font-size: 0.9rem;
  }
}
@media all and (min-width: 1024px) and (max-width: 3840px) {
  h2 {
    font-size: 1.2rem;
  }
}

/*---------- Header -------------*/
.menu__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__header__logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  background: white;
  width: 160%;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid #f4f4f4;
  padding: 0.5rem 3rem;
}
@media all and (min-width: 1024px) and (max-width: 3840px) {
  .menu__header__logo {
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
    align-items: center;
  }
}

header .header__retour__icones {
  display: block;
  margin-right: auto;
  position: absolute;
  left: 20px;
  color: black;
}

header .couverture__image {
  height: 16.5rem;
  width: 100%;
  z-index: -1;
}
@media all and (min-width: 1024px) and (max-width: 3840px) {
  header .couverture__image {
    transform: scale(1.25);
    height: 30rem;
  }
}

header .couverture__image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.fond-resto {
  background: #f6f6f6;
}

.menu main {
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin-top: -5.5rem;
  z-index: 100;
}

.menu .menu__choix {
  position: relative;
  width: 100%;
}

.menu__resto {
  font-family: "Shrikhand", cursive;
  font-weight: bold;
  font-size: 1.25rem;
  padding-top: 1.6rem;
  margin-left: 1.4rem;
  margin-bottom: -0.5rem;
}
@media all and (min-width: 1024px) and (max-width: 3840px) {
  .menu__resto {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
}

.coeur-menu {
  position: absolute;
  right: 30px;
  top: 20px;
}

.menu__plats {
  padding: 10px;
}

@media all and (min-width: 1024px) and (max-width: 3840px) {
  .menu__details {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: auto;
  }
}

.carte__resto {
  margin: 1.9rem 0 0.7rem 0.7rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-align: left;
  opacity: 0.7;
}
@media all and (min-width: 1024px) and (max-width: 3840px) {
  .carte__resto {
    margin-top: 1rem;
    font-size: 1.1rem;
    width: 100%;
    text-align: center;
  }
}
.carte__resto:after {
  content: "";
  border-bottom: 2px solid #99e2d0;
  display: block;
  padding-top: 0.2rem;
  width: 2rem;
}
@media all and (min-width: 1024px) and (max-width: 3840px) {
  .carte__resto:after {
    border-bottom: none;
  }
}

.menu__resto__prix, article h4, article h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

article h3 {
  color: black;
  font-size: 0.95rem;
  font-weight: bold;
}
@media all and (min-width: 1024px) and (max-width: 3840px) {
  article h3 {
    font-size: 1.3rem;
  }
}

article h4 {
  color: #333;
  font-size: 0.85rem;
  font-weight: 300;
  opacity: 0.95;
}
@media all and (min-width: 1024px) and (max-width: 3840px) {
  article h4 {
    font-size: 1.1rem;
  }
}

.menu__resto__prix {
  width: 80%;
  padding: 0.7rem;
}

.commander-bouton {
  text-align: center;
  margin-bottom: 3rem;
}

.menu-cache {
  opacity: 0;
}
@media all and (max-width: 759.98px) {
  .menu-cache {
    margin-top: -2rem;
  }
}

/*-------- Pied de page ----*/
footer a {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  color: white;
  margin-bottom: 0.5rem;
  margin-left: 1%;
  font-size: 1.1rem;
}
@media all and (max-width: 759.98px) {
  footer a {
    margin-left: 1rem;
    font-size: 0.9em;
  }
}

.footer {
  background: black;
  opacity: 0.8;
  padding-bottom: 0.5rem;
}
.footer__logo {
  filter: invert(100%);
  padding: 1.5rem 0;
  max-width: 100%;
  margin-left: 2%;
}
@media all and (max-width: 759.98px) {
  .footer__logo {
    max-width: 30%;
    transform: scale(0.75);
    margin-left: 1rem;
  }
}
@media all and (min-width: 760px) and (max-width: 959.98px) {
  .footer__logo {
    max-width: 30%;
    transform: scale(0.85);
    margin-left: 1rem;
  }
}
.footer .footer-icones {
  margin: 0.2em 1em 0 1.2em;
}

/*# sourceMappingURL=style.css.map */
