/*---- Reset de la page ----*/
html,
body,
p,
ul,
li,
figure,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  height: auto;
  max-width: 100%;
}

@keyframes validation {
  0% {
    transform: rotate(-90deg);
  }
  20% {
    transform: rotate(-75deg) scale(1.03);
  }
  40% {
    transform: rotate(-60deg) scale(1.08);
  }
  60% {
    transform: rotate(-45deg) scale(1.15);
  }
  80% {
    transform: rotate(-30deg) scale(1.08);
  }
  100% {
    transform: rotate(5deg) scale(1);
  }
}
@keyframes animation-controle {
  0% {
    transform: translate(50px, 0);
  }
  20% {
    transform: translate(30px, 0);
  }
  40% {
    transform: translate(20px, 0);
  }
  60% {
    transform: translate(15px, 0);
  }
  80% {
    transform: translate(7px, 0);
  }
  100% {
    transform: translate(1px, 0);
  }
}
@keyframes animation-prix {
  0% {
    transform: translate(50px, 0);
  }
  40% {
    transform: translate(25px, 0);
  }
  70% {
    transform: translate(12px, 0);
  }
  100% {
    transform: translate(1px, 0);
  }
}
@keyframes fondu {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes animation-toupie {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes animation-chargement {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes activite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animation-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*------- Animations ----------*/
@keyframes validation {
  0% {
    transform: rotate(-90deg);
  }
  20% {
    transform: rotate(-75deg) scale(1.03);
  }
  40% {
    transform: rotate(-60deg) scale(1.08);
  }
  60% {
    transform: rotate(-45deg) scale(1.15);
  }
  80% {
    transform: rotate(-30deg) scale(1.08);
  }
  100% {
    transform: rotate(5deg) scale(1);
  }
}
@keyframes animation-controle {
  0% {
    transform: translate(50px, 0);
  }
  20% {
    transform: translate(30px, 0);
  }
  40% {
    transform: translate(20px, 0);
  }
  60% {
    transform: translate(15px, 0);
  }
  80% {
    transform: translate(7px, 0);
  }
  100% {
    transform: translate(1px, 0);
  }
}
@keyframes animation-prix {
  0% {
    transform: translate(50px, 0);
  }
  40% {
    transform: translate(25px, 0);
  }
  70% {
    transform: translate(12px, 0);
  }
  100% {
    transform: translate(1px, 0);
  }
}
@keyframes fondu {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes animation-toupie {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes animation-chargement {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes activite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animation-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu__texte {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 5px 15px 0 #c3c3c3;
  margin: 10px 0;
  flex: 1 0 33%;
  overflow: hidden;
}
@media only screen and (min-width: 1025px) {
  .menu__texte {
    flex: 25%;
    margin-left: 15px;
  }
}
.menu__texte:hover {
  box-shadow: 0 5px 15px 0 #9d9d9d;
}
.menu__texte .prix__fiche {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
  margin-top: 18px;
  padding-right: 10px;
  text-align: right;
}
.menu__texte .controle {
  display: none;
  width: 30%;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.menu__texte .bouton-plat {
  font-size: 24px;
  color: white;
  transform: rotate(360deg);
}

.menu__texte:hover .prix__fiche {
  animation: animation-prix ease 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  min-width: 50px;
}

.menu__texte:hover .controle {
  display: block;
  flex: 0 0 15%;
  background: #99e2d0;
  max-width: 50px;
  overflow: hidden;
  animation: animation-controle ease 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}

.menu__texte:hover .bouton-plat {
  position: absolute;
  left: 27%;
  top: 30%;
  background: #99e2d0;
  animation: validation ease 0.5s 1;
}

.effet-1 {
  animation: fondu 0.5s;
}

.effet-2 {
  animation: fondu 1s;
}

.effet-3 {
  animation: fondu 1.5s;
}

.effet-4 {
  animation: fondu 2s;
}

.effet-5 {
  animation: fondu 2.5s;
}

.effet-6 {
  animation: fondu 3s;
}

.effet-7 {
  animation: fondu 3.5s;
}

.effet-8 {
  animation: fondu 4s;
}

.effet-9 {
  animation: fondu 4.5s;
}

.effet-10 {
  animation: fondu 5s;
}

.toupie {
  animation: animation-toupie 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  background: rgba(10, 10, 10, 0.6);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  z-index: 100;
}
.toupie::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.chargement::before {
  display: inline-block;
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  top: 15px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #ff79da;
}

.chargement::after {
  display: inline-block;
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  top: 5px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #ff79da;
}

.chargement {
  display: inline block;
  vertical-align: middle;
  width: 100px;
  left: 55%;
  border: solid 2vmin transparent;
  border-radius: 50%;
  overflow: hidden;
  padding: 10px;
  border-right-color: #9356dc;
  border-top-color: #9356dc;
  animation: spin 1s infinite linear;
  animation-fill-mode: both;
  box-sizing: border-box;
  height: 20vmin;
  left: calc(50% - 10vmin);
  position: fixed;
  top: calc(50% - 10vmin);
  width: 20vmin;
  z-index: 100;
}
@media only screen and (min-width: 1025px) {
  .chargement {
    left: 50%;
    top: 57%;
    margin-left: -6em;
  }
}
.chargement::before {
  animation: animation-rotation 2s infinite linear;
  border: solid 1vmin transparent;
  border-radius: 50%;
  border-right-color: #ff79da;
  border-top-color: #ff79da;
  box-sizing: border-box;
  content: "";
  height: 16vmin;
  left: 0;
  position: absolute;
  top: 0;
  width: 16vmin;
  animation: animation-chargement 2s infinite;
}
.chargement::after {
  animation: animation-rotation 2s infinite linear;
  border: solid 1vmin transparent;
  border-radius: 50%;
  border-right-color: #99e2d0;
  border-top-color: #99e2d0;
  box-sizing: border-box;
  content: "";
  height: 12vmin;
  left: 2vmin;
  position: absolute;
  top: 2vmin;
  width: 12vmin;
  animation: animation-chargement 2s infinite;
}

.reserver__bouton-explorer {
  display: inline-block;
  background: linear-gradient(#ff79da, #9356dc);
  text-decoration: none;
  cursor: pointer;
  border: 0;
  text-align: center;
  border-radius: 25px;
  font-size: 14px;
  color: white;
  box-shadow: 0 5px 15px 0 #c3c3c3;
  font-weight: bold;
  margin: 1.5rem 0.2rem 0.2rem 0;
  padding: 0.7rem 1.4rem;
  transition: 0.2s;
}
.reserver__bouton-explorer:hover {
  background: linear-gradient(#f77dd4, #ab65fa);
  box-shadow: 0 5px 15px 0 #c3c3c3;
}
@media only screen and (min-width: 1025px) {
  .reserver__bouton-explorer {
    margin-top: 1rem;
  }
}

.coeur .icones-defaut:hover, .coeur:hover, .coeur .hover-icones:hover {
  transition: 0.5s 0s ease;
}

.coeur {
  position: relative;
  margin-left: auto;
  margin-top: 4px;
}
.coeur i {
  color: #9d9d9d;
  font-size: 20px;
  left: 50%;
}
.coeur .hover-icones {
  left: 0;
  opacity: 0;
  position: absolute;
}
.coeur .hover-icones:hover {
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 1;
  z-index: 100;
}
.coeur:hover {
  cursor: pointer;
  overflow: hidden;
  opacity: 1;
}
.coeur .icones-defaut:hover {
  opacity: 0;
}

/*------------ bouton de commande ---------------*/
.bouton-2 {
  margin-top: 25px;
  width: 45%;
  height: 90%;
}
@media only screen and (min-width: 768px) {
  .bouton-2 {
    width: 20%;
  }
}

/*----- header de la Page accueil ---------*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9e9e9;
}
@media only screen and (min-width: 1025px) {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    margin-right: 3rem;
  }
}
.header__logo {
  background: white;
  width: 160%;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid #f4f4f4;
  padding: 5px 46px;
}
@media only screen and (min-width: 1025px) {
  .header__logo {
    text-align: left;
    margin-left: 3rem;
    box-shadow: none;
  }
}
.header__logo img {
  max-width: 100%;
  height: 1.6rem;
}

.rechercher__quartier {
  display: flex;
  align-items: center;
  margin: auto;
  width: 200px;
}
@media only screen and (min-width: 1025px) {
  .rechercher__quartier {
    background: linear-gradient(#ff79da, #9356dc);
    padding: 3px;
    width: 50%;
    border-radius: 25px;
    margin-right: 25px;
  }
}
.rechercher__quartier .rechercher__pictogramme {
  padding: 8px 10px;
}
.rechercher__quartier .saisie {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
}
.rechercher__quartier .saisie-champs {
  background-color: transparent;
  border: 0;
  padding: 15px 10px;
  width: 100%;
}
@media only screen and (min-width: 1025px) {
  .rechercher__quartier .saisie-champs {
    color: white;
    padding: 5px 10px;
  }
}
.rechercher__quartier .saisie-champs:focus {
  outline: none;
}
@media only screen and (min-width: 1025px) {
  .rechercher__quartier .saisie-champs::placeholder {
    color: white;
  }
}

/*----- Page d'accueil -----*/
.main {
  display: flex;
  flex-flow: column nowrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 1680px;
}

.reserver__bloc-titres h2, .reserver__bloc-titres h1 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.reserver {
  flex: 100%;
  text-align: center;
  padding: 2.5rem 1.5rem;
  background-color: #f2f2f2;
}
.reserver__bloc-titres {
  margin-bottom: 8rem;
}
.reserver__bloc-titres h1 {
  margin-bottom: 15px;
}
.reserver__bloc-titres h2 {
  font-size: 16px;
  font-weight: normal;
  color: #888;
}

article a {
  text-decoration: none;
}

.resto {
  background-color: #f4f4f4;
  padding: 10px;
  margin-top: 15px;
}
@media only screen and (min-width: 768px) {
  .resto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
    padding: 15px;
    height: 100%;
  }
}
.resto__fiche {
  display: flex;
  flex-direction: column;
  margin: 15px;
  min-width: 0;
  background: white;
  box-shadow: 2px 2px 10px 2px #e9e9e9;
  border-radius: 15px;
}
@media only screen and (min-width: 1025px) {
  .resto__fiche {
    width: 18rem;
    height: 100%;
  }
}
.resto__mode {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 18px;
  color: black;
}
@media only screen and (min-width: 768px) {
  .resto__mode {
    padding: 15px 0 15px 15px;
    width: 100%;
  }
}
.resto__image__header {
  position: relative;
  max-height: 200px;
}
.resto__image__header img {
  object-fit: cover;
  width: 100%;
  max-height: 200px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
@media only screen and (min-width: 1025px) {
  .resto__image__header img {
    max-width: 275px;
    height: 200px;
  }
}
@media only screen and (min-width: 768px) {
  .resto__image__header img {
    max-width: 325px;
    height: 200px;
  }
}

.nouveau {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #99e2d0;
  color: #2c9c81;
  padding: 3px 10px;
  font-weight: bold;
  z-index: 100;
}

.resto__detail {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
}
.resto__detail h4 {
  font-weight: 300;
  font-size: 1.1rem;
  margin-left: 0;
}

.libelle {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
}

/*-------- Navigation ----------*/
.nav {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 10px 5px;
}
.nav__mode {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin-bottom: 15px;
}
@media only screen and (min-width: 1025px) {
  .nav__mode {
    font-size: 2rem;
    text-align: center;
  }
}
.nav__options {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  .nav__options {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
  }
}
.nav__bouton {
  flex: 1 0 auto;
  margin-bottom: 20px;
  text-decoration: none;
  background: #f2f2f2;
  border-radius: 10px;
  text-align: justify;
  margin-left: 0;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: bold;
  padding: 20px 15px;
  box-shadow: 0 5px 15px 0 #c3c3c3;
}
.nav__bouton:hover {
  background: #f2eafb;
  box-shadow: 2px 2px 10px 2px #e4d5f6;
}
.nav__bouton:hover .nav__icones {
  color: #9356dc;
}
@media only screen and (min-width: 768px) {
  .nav__bouton {
    flex: 100%;
    margin-left: 20px;
    padding: 10px 5px;
  }
}
.nav__pastilles {
  position: absolute;
  left: 0.5rem;
  margin-top: -4px;
  background: #9356dc;
  border-radius: 100%;
  color: white;
  height: 20px;
  width: 20px;
  line-height: 1.6;
  padding: 2px 7px;
  font-weight: bold;
}
@media only screen and (min-width: 768px) {
  .nav__pastilles {
    display: block;
    position: relative;
    left: -12px;
    top: -10px;
  }
}
@media only screen and (min-width: 1025px) {
  .nav__pastilles {
    display: block;
    position: relative;
    left: 4px;
    top: 8px;
    height: 22px;
    width: 22px;
  }
}
.nav__icones {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: grey;
  margin: -0.2rem 1rem;
  position: absolute;
  font-size: 16px;
}
@media only screen and (min-width: 768px) {
  .nav__icones {
    margin: -12px 15px 0 25px;
  }
}
@media only screen and (min-width: 1025px) {
  .nav__icones {
    margin: -10px 0 0 3rem;
  }
}
.nav__texte {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 3rem;
  margin-top: -0.2rem;
  font-size: 0.8rem;
}
@media only screen and (min-width: 768px) {
  .nav__texte {
    display: block;
    text-align: right;
    margin-top: -25px;
  }
}
@media only screen and (min-width: 1025px) {
  .nav__texte {
    text-align: center;
    font-size: 1.2rem;
    margin-top: -1rem;
  }
}

/*--------- Pages Restaurants --------*/
.reserver__bouton-explorer {
  display: inline-block;
  background: linear-gradient(#ff79da, #9356dc);
  text-decoration: none;
  cursor: pointer;
  border: 0;
  text-align: center;
  border-radius: 25px;
  font-size: 14px;
  color: white;
  box-shadow: 0 5px 15px 0 #c3c3c3;
  font-weight: bold;
  margin: 1.5rem 0.2rem 0.2rem 0;
  padding: 0.7rem 1.4rem;
  transition: 0.2s;
}
.reserver__bouton-explorer:hover {
  background: linear-gradient(#f77dd4, #ab65fa);
  box-shadow: 0 5px 15px 0 #c3c3c3;
}
@media only screen and (min-width: 1025px) {
  .reserver__bouton-explorer {
    margin-top: 1rem;
  }
}

.coeur .hover-icones:hover, .coeur:hover, .coeur .icones-defaut:hover {
  transition: 0.5s 0s ease;
}

.coeur {
  position: relative;
  margin-left: auto;
  margin-top: 4px;
}
.coeur i {
  color: #9d9d9d;
  font-size: 20px;
  left: 50%;
}
.coeur .hover-icones {
  left: 0;
  opacity: 0;
  position: absolute;
}
.coeur .hover-icones:hover {
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 1;
  z-index: 100;
}
.coeur:hover {
  cursor: pointer;
  overflow: hidden;
  opacity: 1;
}
.coeur .icones-defaut:hover {
  opacity: 0;
}

/*------------ bouton de commande ---------------*/
.bouton-2 {
  margin-top: 25px;
  width: 45%;
  height: 90%;
}
@media only screen and (min-width: 768px) {
  .bouton-2 {
    width: 20%;
  }
}

/*------- Animations ----------*/
@keyframes validation {
  0% {
    transform: rotate(-90deg);
  }
  20% {
    transform: rotate(-75deg) scale(1.03);
  }
  40% {
    transform: rotate(-60deg) scale(1.08);
  }
  60% {
    transform: rotate(-45deg) scale(1.15);
  }
  80% {
    transform: rotate(-30deg) scale(1.08);
  }
  100% {
    transform: rotate(5deg) scale(1);
  }
}
@keyframes animation-controle {
  0% {
    transform: translate(50px, 0);
  }
  20% {
    transform: translate(30px, 0);
  }
  40% {
    transform: translate(20px, 0);
  }
  60% {
    transform: translate(15px, 0);
  }
  80% {
    transform: translate(7px, 0);
  }
  100% {
    transform: translate(1px, 0);
  }
}
@keyframes animation-prix {
  0% {
    transform: translate(50px, 0);
  }
  40% {
    transform: translate(25px, 0);
  }
  70% {
    transform: translate(12px, 0);
  }
  100% {
    transform: translate(1px, 0);
  }
}
@keyframes fondu {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes animation-toupie {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes animation-chargement {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes activite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animation-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu__texte {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 5px 15px 0 #c3c3c3;
  margin: 10px 0;
  flex: 1 0 33%;
  overflow: hidden;
}
@media only screen and (min-width: 1025px) {
  .menu__texte {
    flex: 25%;
    margin-left: 15px;
  }
}
.menu__texte:hover {
  box-shadow: 0 5px 15px 0 #9d9d9d;
}
.menu__texte .prix__fiche {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
  margin-top: 18px;
  padding-right: 10px;
  text-align: right;
}
.menu__texte .controle {
  display: none;
  width: 30%;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.menu__texte .bouton-plat {
  font-size: 24px;
  color: white;
  transform: rotate(360deg);
}

.menu__texte:hover .prix__fiche {
  animation: animation-prix ease 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  min-width: 50px;
}

.menu__texte:hover .controle {
  display: block;
  flex: 0 0 15%;
  background: #99e2d0;
  max-width: 50px;
  overflow: hidden;
  animation: animation-controle ease 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}

.menu__texte:hover .bouton-plat {
  position: absolute;
  left: 27%;
  top: 30%;
  background: #99e2d0;
  animation: validation ease 0.5s 1;
}

.effet-1 {
  animation: fondu 0.5s;
}

.effet-2 {
  animation: fondu 1s;
}

.effet-3 {
  animation: fondu 1.5s;
}

.effet-4 {
  animation: fondu 2s;
}

.effet-5 {
  animation: fondu 2.5s;
}

.effet-6 {
  animation: fondu 3s;
}

.effet-7 {
  animation: fondu 3.5s;
}

.effet-8 {
  animation: fondu 4s;
}

.effet-9 {
  animation: fondu 4.5s;
}

.effet-10 {
  animation: fondu 5s;
}

.toupie {
  animation: animation-toupie 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  background: rgba(10, 10, 10, 0.6);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  z-index: 100;
}
.toupie::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.chargement::before {
  display: inline-block;
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  top: 15px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #ff79da;
}

.chargement::after {
  display: inline-block;
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  top: 5px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #ff79da;
}

.chargement {
  display: inline block;
  vertical-align: middle;
  width: 100px;
  left: 55%;
  border: solid 2vmin transparent;
  border-radius: 50%;
  overflow: hidden;
  padding: 10px;
  border-right-color: #9356dc;
  border-top-color: #9356dc;
  animation: spin 1s infinite linear;
  animation-fill-mode: both;
  box-sizing: border-box;
  height: 20vmin;
  left: calc(50% - 10vmin);
  position: fixed;
  top: calc(50% - 10vmin);
  width: 20vmin;
  z-index: 100;
}
@media only screen and (min-width: 1025px) {
  .chargement {
    left: 50%;
    top: 57%;
    margin-left: -6em;
  }
}
.chargement::before {
  animation: animation-rotation 2s infinite linear;
  border: solid 1vmin transparent;
  border-radius: 50%;
  border-right-color: #ff79da;
  border-top-color: #ff79da;
  box-sizing: border-box;
  content: "";
  height: 16vmin;
  left: 0;
  position: absolute;
  top: 0;
  width: 16vmin;
  animation: animation-chargement 2s infinite;
}
.chargement::after {
  animation: animation-rotation 2s infinite linear;
  border: solid 1vmin transparent;
  border-radius: 50%;
  border-right-color: #99e2d0;
  border-top-color: #99e2d0;
  box-sizing: border-box;
  content: "";
  height: 12vmin;
  left: 2vmin;
  position: absolute;
  top: 2vmin;
  width: 12vmin;
  animation: animation-chargement 2s infinite;
}

body {
  background-color: white;
  color: #333;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 0;
  text-align: left;
  overflow-x: hidden;
}

h1 {
  display: bloc;
  margin: -0.5rem 0 0.5rem 2.5rem;
  width: 14rem;
  font-size: 1.4em;
  line-height: 1.2;
  font-weight: bold;
}
@media only screen and (min-width: 1025px) {
  h1 {
    display: bloc;
    margin-left: autorem;
    font-size: 1.6rem;
    width: auto;
  }
}

h2 {
  font-size: 1.1em;
  line-height: 1.1;
}
@media only screen and (min-width: 1025px) {
  h2 {
    text-align: center;
  }
}

/*---------- Header -------------*/
.menu__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__header__logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  background: white;
  width: 160%;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid #f4f4f4;
  padding: 5px 46px;
}
@media only screen and (min-width: 1025px) {
  .menu__header__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

header .header__retour__icones {
  display: block;
  margin-right: auto;
  position: absolute;
  left: 20px;
  color: black;
}

header .couverture__image {
  height: 17rem;
  width: 100%;
  z-index: -1;
}

header .couverture__image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.fond-resto {
  background: #f6f6f6;
}

.menu main {
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin-top: -5.5rem;
  z-index: 100;
}

.menu .menu__choix {
  position: relative;
  width: 100%;
}

.menu__resto {
  font-family: "Shrikhand", cursive;
  font-weight: bold;
  letter-spacing: 0.05rem;
  font-size: 1.35rem;
  padding-top: 1.6rem;
  margin-left: 1.4rem;
  margin-bottom: -0.5rem;
}
@media only screen and (min-width: 1025px) {
  .menu__resto {
    text-align: center;
  }
}

.coeur-menu {
  position: absolute;
  right: 30px;
  top: 20px;
}

.menu__plats {
  padding: 10px;
}

@media only screen and (min-width: 1025px) {
  .menu__details {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: auto;
  }
}

.carte__resto {
  margin: 30px 0 10px 10px;
  font-size: 0.85rem;
  text-transform: uppercase;
}
@media only screen and (min-width: 1025px) {
  .carte__resto {
    margin: 0;
    font-size: 0.75rem;
    width: 100%;
    text-align: center;
  }
}
.carte__resto:after {
  content: "";
  border-bottom: 2px solid #99e2d0;
  display: block;
  padding-top: 3px;
  width: 3rem;
}
@media only screen and (min-width: 1025px) {
  .carte__resto:after {
    border-bottom: none;
  }
}

.menu__resto__prix, h4, h3, .produit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.produit {
  font-size: 1rem;
  font-weight: bold;
}
@media only screen and (min-width: 1025px) {
  .produit {
    width: 40px;
  }
}

h3 {
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
}

h4 {
  color: #333;
  font-size: 0.75rem;
  font-weight: normal;
  opacity: 0.7;
}

.menu__resto__prix {
  width: 80%;
  padding: 10px;
}

.commander-bouton {
  text-align: center;
  margin-bottom: 3rem;
}

/*-------- Pied de page ----*/
footer a {
  text-decoration: none;
  color: white;
}

.footer {
  background: #333;
  padding: 20px;
  text-align: center;
  color: white;
}
@media only screen and (max-width: 420px) {
  .footer {
    text-align: left;
  }
}
.footer__logo {
  filter: invert(1);
  max-width: 150px;
}
@media only screen and (min-width: 768px) {
  .footer__logo {
    max-width: none;
  }
}
.footer__lien {
  text-align: left;
}
@media only screen and (min-width: 768px) {
  .footer__lien {
    text-align: center;
  }
}

.footer-icones {
  margin-right: 15px;
}

/*# sourceMappingURL=style.css.map */
