// bouton reservation et commander //
.reserver__bouton-explorer {
  display: inline-block;
  @include gradiant;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  text-align: center;
  border-radius: 1.55rem;
  font-size: 0.9rem;
  color: white;
  @include ombre-primaire;
  font-weight: 600;
  padding: 0.7rem 1.4rem;
  margin:2.2rem 0 1.2rem 0;
  transition: 0.2s;
  &:hover {
    background: linear-gradient(#f77dd4, #ab65fa);
    transition: 0s linear .05s;
    @include ombre-primaire;
    }
    @include bureau {
    margin-top: 1rem;
    }
}

/*------ animation coeur -----------------*/
%coeur-plein {
  transition: 2s 0.2s ease;
}
.coeur {
  position: relative;
  margin-left: auto;
  margin-top: 0.25rem;
  

  i {
    color:    #738276;
    font-size: 1.3rem;
    left: 50%;
  }
  .hover-icones {
    left: 0;
    opacity: 0;
    position: absolute;
    &:hover {
      @include gradiant;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      opacity: 1;
      z-index: 100;
      transition: 0s linear .05s;
      @extend %coeur-plein;
    }
  }
  &:hover {
    cursor: pointer;
    overflow: hidden;
    opacity: 1;
    transition: 0s linear .05s;
    @extend %coeur-plein;
    }
  .icones-defaut:hover {
    opacity: 0;
    transition: 0s linear .05s;
    @extend %coeur-plein;
  }
}

/*------------ bouton de commande ---------------*/

.bouton-commande {
  margin-top: 1.6rem;
  width: 45%;
  height:90%;

  @include tablette {
    width: 20%;
  }
}
