/*----- Page d'accueil / index.html -----*/
.main {
  display: flex;
  flex-flow: column nowrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 105rem;
 }

%bloc {
  font-family: $police-texte;
  font-size: $police-dim;
  font-weight: $police-style;
  }

.reserver {
  flex: 100%;
  text-align: center;
  padding: 2.5rem 2.5rem;
  letter-spacing:0.03rem;
  background-color: $fond-primaire;
    &__bloc-titres {
    margin-bottom: 8rem;
      h1 {
      @extend %bloc;
      margin-bottom: 1rem;
      }

    h2 {
      @extend %bloc;
      font-size: 1rem;
      font-weight: 300;
      color: #888;
      }
  }
}

article a {
  text-decoration: none;
  }

.resto {
  background-color: #f4f4f4;
  padding: 1.25rem 0;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
  padding: 1rem;
  height: 100%;
    &__fiche {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    min-width: 20%;
    background: white;
    box-shadow: 2px 2px 10px 2px $fond-secondaire;
    border-radius: 1rem;

      @include portable {
        width: 13.5rem;
        height: 100%;
      }

      @include tablette {
        width:auto;
        height: 100%;
      }
  }
  &__mode {
    padding: 1rem 0 1rem 1rem;
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    letter-spacing:0.1rem;
  @include mobile {
    font-size: 1.2rem;
    letter-spacing:0;
    font-family: $police-texte;
    font-weight: 900;
    color: black;
    text-align: left;
    margin-top:0.5rem;
    margin-bottom:-0.8rem;
    }
  }
  &__image__header {
    position: relative;
    max-height: 12.5rem;
    img {
      object-fit: cover;
      width: 100%;
      max-height: 12.5rem;
      border-top-left-radius: 1em;
      border-top-right-radius: 1em;    
    }
  }
}

.nouveau {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  background: $couleur-tertiaire;
  color: #2c9c81;;
  padding: 0.2rem 0.7rem;
  font-weight: $police-style;
  z-index: 100;
}

.resto__detail {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.7rem;
  width: 100%;
  margin-top: 0.7rem;

  h3 {
    font-weight: bolder;
    font-size: 1.2rem;
    margin-left: 0;
  }

  h4 {
    font-weight: lighter;
    font-size: 1.1rem;
    margin-left: 0;
  }
}

.libelle-resto {
  text-decoration: none;
  color: black;
  font-weight: $police-style;
  font-size: 1.1rem;
  font-family: $police-texte;
}

.libelle-lieu {
  text-decoration: none;
  color: black;
  font-weight: 300;
  opacity: 0.7;
  font-size: 1rem;
  font-family: $police-texte;
}