/*--------- Pages Restaurants --------*/
@import "../components/_buttons";
@import "../layout/_animations";

body {
  background-color: white;
  color: #333;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 0;
  text-align: left;
  overflow-x: hidden;
}

h1 {
  font-size: 1.5em;
  line-height: 1;
  font-weight: bold;
}

/*---------- Header -------------*/
.menu__header {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    background: rgb(255, 255, 255);
    width: 160%;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid #f4f4f4;
    padding: 5px 46px;
    @include bureau {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}

header .header__retour__icones {
  display: block;
  margin-right: auto;
  position: absolute;
  left: 20px;
  color: black;
}

header .couverture__image {
  height: 17rem;
  width: 100%;
  z-index: -1;
}

header .couverture__image image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.fond-resto {
  background: #f6f6f6;
}

.menu main {
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin-top: -5.5rem;
  z-index: 100;
  }
.menu .menu__choix {
  position: relative;
  width: 100%;
  }

.menu__resto {
  font-family: $logo-title-font;
  font-weight: bold;
  letter-spacing:0.1rem;
  padding-top:1.5rem;
  margin-left:1.5rem;
  @include bureau {
  text-align: center;
  font-size:1.5rem;
  }
}

.coeur-menu {
  position: absolute;
  right: 30px;
  top: 20px;
}

.menu__plats {
  padding: 10px; 
  }

.menu__details {
  @include bureau {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    }
}

.carte__resto {
  margin: 30px 0 10px 10px;
  font-size: 0.85rem;
  text-transform: uppercase;
  @include bureau {
    margin:0;
    font-size: 0.75rem;
    width: 100%;
    text-align: center;

  }

  &:after {
    content: "";
    border-bottom: 2px solid $couleur-tertiaire;
    display: block;
    padding-top: 3px;
    width: 3rem;
    @include bureau {
    border-bottom:none;
    }
    }
}

%text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  }

.produit {
  font-size: 1rem;
  font-weight: $fontWeight;
  @extend %text-overflow;
  @include bureau {
  width:40px;
  }
}

h4 {
  color: #333;
  font-size: 0.75rem;
  font-weight: normal;
  @extend %text-overflow;
 }

.menu__resto__prix {
  width: 80%;
  padding: 10px;
  @extend %text-overflow;
  
  }

.commander-bouton {
  text-align: center;
  margin-bottom:3rem;
}
