//--------- Ombrage des boites -----------------//
@mixin ombre-primaire {
  box-shadow: 0 5px 15px 0 #c3c3c3;
}

@mixin ombre-secondaire {
  box-shadow: 0 5px 15px 0 #9d9d9d;
}
//--------- Couleur de fond ---------------------//
@mixin gradiant {
  background: linear-gradient(#ff79da, #9356dc);
}

//------ Media queries différents écrans -------//

@mixin bureau {
  @media only screen and (min-width: 1025px) {
    @content;
  }
}
@mixin tablette {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: 420px) {
    @content;
  }
}

@mixin mobile-paysage {
  @media only screen and (min-width: 421px) and (max-width: 767px) {
    @content;
  }

}

