//--------- Ombrage des boites -----------------//
@mixin ombre-primaire {
  box-shadow: 0 5px 15px 0 #c3c3c3;
}

@mixin ombre-secondaire {
  box-shadow: 0 5px 15px 0 #9d9d9d;
}
//--------- Couleur de fond ---------------------//
@mixin gradiant {
  background: linear-gradient(#ff79da, #9356dc);
}

//------ Media queries différents écrans -------//

@mixin bureau {
  @media all and (min-width: 1024px) and (max-width: 3840px){
    @content;
  }
}

@mixin portable {
  @media all and (min-width: 960px) {
    @content;
  }
}

@mixin tablette {
  @media all and (min-width: 760px) and (max-width: 959.98px) {
    @content;
  }
}

@mixin mobile {
  @media all and (max-width: 759.98px) {
    @content;
  }
}





