//charte graphique du site//
/*couleurs*/
$color-primary: #9356dc;/*violet:#9356dc*/
$color-secondary: #ff79da;/*rose fushia:#ff79da*/
$color-tertiary: #99e2d0;/*vert menthe:#99e2d0*/
$color-dark-green: #2c9c81;/*vert fonce:#2c9c81*/
$color-black: #000;/*noir:#000*/
/*nuances de gris*/
$color-background: #f2f2f2;/*gris clair:#f2f2f2*/
$color-background-2: #e9e9e9;/*gris:#e9e9e9*/
$bggrey: #f4f4f4;/*gris clair+:#f4f4f4*/
$menu-bg-color: #f6f6f6;/*gris clair++:#f6f6f6*/
$animation-bg-color: rgba(10, 10, 10, 0.6);

//Police et style//
$logo-title-font: "Shrikhand", cursive;
$text-font: "Roboto", sans-serif;
$fontSize: 25px;
$fontWeight: bold;
